---
import ContentTable from "../components/ContentTable.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await Astro.glob("./index.md");
const Content = posts[0].Content;
---

<BaseLayout title="TFG Documentation">
  <h1 class="!mb-2 text-center">TFG Documentation</h1>
  <h3 class="!mt-2 text-center font-light italic">
    A bachelor's thesis on 3D components
  </h3>
  <p class="text-center italic">by Rubén Chiquin</p>

  <ContentTable />
  <Content />
</BaseLayout>
