---
import { getCollection } from "astro:content";
const projects = await getCollection("projects");

projects.sort((a, b) => a.data.pagination - b.data.pagination);
---

<h2>Contents</h2>

<ol>
  {
    projects.map((project) => {
      if (project.slug.includes("/")) {
        return;
      }

      const subFoldersCount = projects.filter((otherProjects) =>
        otherProjects.slug.includes(project.slug)
      ).length;

      if (subFoldersCount !== 1) {
        const subProjects = projects.filter(
          (theProjects) =>
            theProjects.slug.includes(project.slug) && theProjects !== project
        );

        return (
          <li>
            <a href={"/projects/" + project.slug}> {project.data.title}</a>
            <ol>
              {subProjects.map((subProject) => {
                return (
                  <li>
                    <a href={"/projects/" + subProject.slug}>
                      {subProject.data.title}
                    </a>
                  </li>
                );
              })}
            </ol>
          </li>
        );
      }

      return (
        <li>
          <a href={"/projects/" + project.slug}>{project.data.title}</a>
        </li>
      );
    })
  }
</ol>

<style>
  ol {
    counter-reset: item;
  }
  li {
    display: block;
  }
  li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
</style>
