<footer
  class="mx-auto flex w-3/4 justify-between border-t border-gray-200 p-5 text-sm dark:border-gray-600"
>
  <a href="https://randreu.dev" target="_blank">About the author</a>
  <p>@ CopyRight 2022. All rights reserved</p>
  <a href="https://github.com/randreu28" target="_blank">Github</a>
</footer>
