---
type Props = {
    title: string;
};

const { title } = Astro.props;
import NavBar from "../components/NavBar.astro";
const isDark = Astro.cookies.get("theme").value === "dark";
---

<html lang="en" class={isDark ? "dark" : "light"}>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="A bachelor's thesis on 3D components"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="font-mono">
        <NavBar />
        <div class="prose prose-cyan mx-auto max-w-3xl p-10 dark:prose-invert">
            <slot />
        </div>
    </body>

    <style>
        .dark {
            color-scheme: dark;
        }
    </style>
</html>
